Assets/Resources/Font/diary[[:space:]]font[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Font/Kranky-Regular[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Font/*.asset filter=lfs diff=lfs merge=lfs -text
